<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 2 Hello world project</title>
</head>
<body style="background-color:aqua">
    <h1 style="color:red; background-color: purple">Hello world!!! Bu h1</h1>
    <h2>Hello world!!! Bu h2</h2>
    <h3 style="color:blue; background-color: purple">Hello world!!! Bu h3</h3>
    <h4>Hello world!!! Bu h4</h4>
    <h5 style="color:yellow; background-color: purple">Hello world!!! Bu h5</h5>
    <h6>Hello world!!! Bu h6</h6>
    <p>Bu yerga asosiy matn yoziladi. <br><hr>Biz bugun Django-da "Hello world" proectini yaratdig. <br>Ham so'zlarni, saytning orqa fon rangini sozlashni o'rgandik</p>
<a href="https://www.w3schools.com/" target="_blank">Programistlar uchun foydali ssilka</a>
</body>
</html>