<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first homework</title>
</head>
<body style="background-color: aqua">
    <h1>Salom bu saytda dasturchilarga kerakli bo'ladigan ssilkalar bor</h1>
    <h2><hr>Silkalar pastda</h2>
<a href="https://github.com" target="_blank">Bu "GitHub" sillkasi"<hr></a>
<a href="https://www.w3schools.com" target="_blank">Bu esa "w3school" saytining ssilkasi<hr></a>
<a href="https://www.pythonanywhere.com" target="_blank">Bu "PythonAnyWere" saytini ssilkasi</a>
</body>
</html>